<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rudyii.hsw.client">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HomeSystemClientApplication"
        android:allowBackup="true"
        android:resizeableActivity="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/label_app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.rudyii.hsw.client.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />

        <meta-data
            android:name="com.rudyii.hsw.client.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_settings"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_about"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity
            android:name=".activities.SystemLogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_system_log"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity
            android:name=".activities.UsageChartActivity"
            android:label="@string/label_usage_chart"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity android:name=".activities.ShortcutsActionProcessor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Material.Light.Dialog.Alert">
        </activity>

        <receiver android:name=".Autorun">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".listeners.MotionListener">
            <intent-filter>
                <action android:name="com.rudyii.hsw.client.HSC_MOTION_DETECTED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".listeners.VideoUploadedListener">
            <intent-filter>
                <action android:name="com.rudyii.hsw.client.HSC_VIDEO_UPLOADED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".listeners.StatusesListener">
            <intent-filter>
                <action android:name="com.rudyii.hsw.client.HSC_STATUSES_UPDATED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".listeners.WanInfoListener">
            <intent-filter>
                <action android:name="com.rudyii.hsw.client.HSC_WAN_IP_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".listeners.OfflineDeviceListener">
            <intent-filter>
                <action android:name="com.rudyii.hsw.client.HSC_DEVICE_REBOOT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".listeners.ServerStartupListener">
            <intent-filter>
                <action android:name="com.rudyii.hsw.client.HSC_SERVER_STARTED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".listeners.ServerShutdownListener" >
            <intent-filter>
                <action android:name="com.rudyii.hsw.client.HSC_SERVER_STOPPED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.FCMService" />

        <service android:name=".services.FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name=".helpers.GenericFileProvider"
            android:authorities="${applicationId}.com.rudyii.hsc"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1ef5273b944120258ea1aa4084867d94711e5f14" />
    </application>

</manifest>